<h1>Homepage</h1>


<h2><%= link_to "Blog Posts", blogs_path %></h2>
<% @blogs.each do |blog| %>
<%= blog.title %>
<% end %>



<h2><%= link_to "Portolio Projects", portfolios_path %></h2>
<% @portfolios.each do |item| %>
<%= item.title %>
<% end %>
